.wdForm {

	&.loading {
		//opacity: 0.3;
	}

	input[type=text] {
		padding: 6px 12px;
		color: #333;
		border: 1px solid #ccc;
		height: 14px;
		border-radius: 4px;
		vertical-align: top;
		outline: none;

		&:focus {
			border-color: #777;
		}
	}

	button {
		color: #fff;
		background-color: #5cb85c;
		border: 1px solid #4cae4c;
		padding: 6px 12px;
		border-radius: 4px;
		cursor: pointer;
		margin: 0;
		position: relative;
		outline: none;

		&:focus {
			border-color: darken(#4cae4c, 20%);
			background-color: darken(#5cb85c, 10%);
		}

		&:hover {
			background-color: darken(#5cb85c, 5%);
		}

		span {
			height: 14px;
			text-transform: uppercase;
			display: inline-block;
		}

		.loader {
			position: absolute;
			width: 14px;
			height: 14px;
			left: 50%;
			margin-left: -7px;
			top: 50%;
			margin-top: -7px;
			display: block;
			opacity: 0;
		}
	}
}