.wdSlider {
  overflow: hidden;
  position: relative; }
  .wdSlider > ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0; }
    .wdSlider > ul > li {
      height: 100%;
      float: left;
      position: relative; }
      .wdSlider > ul > li > img {
        width: 100%;
        display: block; }
      .wdSlider > ul > li div {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 20px; }
  .wdSlider .next, .wdSlider .previous {
    position: absolute;
    top: 0; }
  .wdSlider .previous {
    left: 0; }
  .wdSlider .next {
    right: 0; }
